<h1>Rock Paper Scissors result<br>
====================</h1>

<h3>Player one chooses: <h2><%= @player1%></h2> ... </h3>
<h3>Player two chooses: <h2><%= @player2%></h2> ... </h3>


<h2>The result is...  </h2><br>
<h1><%= @result %></h1><br><br>
